# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
build/

# Android
android/.gradle/
android/local.properties
android/key.properties

# iOS
ios/Pods/

# IDE
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.db
